*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.odinbackground {
    position: relative;
    top: 20vh;
    display: flex;
    background-color: black;
    opacity: 0.6;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.odin {
    font-weight: 100;
    color: white;
    font-family: "Norse", Times;
    padding: 5px;
}

.odinlogo {
    width: 3em;
    height: 3em;
    padding: 5px;
}

.credit {
    background-color: rgba(0, 0, 0, 0.404);
    gap: 10px;
    font-family: "Bernard MT Condensed", Times;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    top: 90vh;
}

.left {
    background-image: url(images/kerry-hu-qgpLJ1T8KeA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40vw;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    max-height: 100%;
}

.right {
    font-family: "Bernard MT Condensed", Times;
    background-color: rgba(203, 216, 212, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    max-height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .5em;
    padding: 0em 5em 0em 5em;
}

h1 {
    padding-bottom: 1em;
}

p {
    margin: .25em;
    letter-spacing: .5px;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs {
    padding-left: 5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    box-sizing: border-box;
    min-height: 300px;
}

.create {
    display: flex;
}

.login {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .5em;
}

.formbutton {
    padding-left: 5em;
    position: relative;
    top: -40px;
}

button {
    font-weight: 750;
    margin: 40px;
    margin-left: 0px;
    padding: 1em 5em;
    border-radius: 5px;
}

input {
    padding: .5em 5em .5em .1em;
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
}

:focus {
    background-color:rgba(223, 247, 202, 0.932);
    box-shadow: 2px 2px 3px black;
}