*{
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
}

.odinbackground {
    position: relative;
    top: 20vh;
    display: flex;
    background-color: black;
    opacity: 0.6;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.odin {
    font-weight: 100;
    color: white;
    font-family: "Norse", Times;
    padding: 5px;
}

.odinlogo {
    width: 3em;
    height: 3em;
    padding: 5px;
}

.credit {
    background-color: rgba(0, 0, 0, 0.404);
    gap: 10px;
    font-family: "Bernard MT Condensed", Times;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    top: 88vh;
}

.left {
    background-image: url(images/kerry-hu-qgpLJ1T8KeA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40vw;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    max-height: 100%;
}

.right {
    font-family: "Bernard MT Condensed", Times;
    background-color: rgba(203, 216, 212, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 70%;
    max-height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding-bottom: 10px;
    margin-top: -5em;
    flex-shrink: 1;
}

p {
    margin: .25em;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
    gap: .5em;
    margin-bottom: 0;
    box-sizing: border-box;
    justify-content: center;
}

.create {
    display: flex;
}

.login {
    display: flex;
    justify-content: center;
}

:focus {
    background-color:rgba(223, 247, 202, 0.932);
}

input[type=text]:invalid {
    background-color: red;
}